# PART : Fetching data from API and Inserting into MongoDB

### Importing essential libraries

In [46]:
import requests
from sodapy import Socrata
from pymongo import MongoClient
import sys
print("Imported all the required libraries")

Imported all the required libraries

### Fetching data from API

In [47]:
try:
    client = Socrata("data.medicare.gov", "TeKcMRRNIEgHqcTM3vybaqF5V")
    mhs1 = client.get("nrth-mfg3",limit=20000)   
    cnd1 = client.get("ynj2-r877",limit=20000)    
    hd1 = client.get("r5ix-sfxw",limit=20000)
    pvc1 = client.get("c7us-v4mf",limit=20000)
except:
    print("Some error".format(sys.exc_info()[1]))
else:
    print("File imported successfully")

File imported successfully

### Creating connection with MongoDB

In [48]:
try:
    db_cl = MongoClient('192.168.56.30', 27017)
    db = db_cl['DAP_Project']
except:
    print("Failed to initialise- {}".format(sys.exc_info()[1]))
else:
    print("MongoDB instance initialized!")

MongoDB instance initialized!

### Inserting data into MongoDB

In [49]:
collect_mhs = db["mhs"]
collect_cnd = db["cnd"]
collect_hd = db["hd"]
collect_pvc = db["pvc"]
try:
    print("Removing collections if already present")
    if 'mhs' in db.list_collection_names() :
        collect_mhs.drop()
        print("Dropped collection mhs")
    if 'cnd' in db.list_collection_names() :
        collect_cnd.drop()
        print("Dropped collection cnd")
    if 'hd' in db.list_collection_names() :
        collect_hd.drop()
        print("Dropped collection hd")
    if 'pvc' in db.list_collection_names() :
        collect_pvc.drop()
        print("Dropped collection pvc")
    collect_mhs.insert_many(mhs1)
    print("Insertion of Medicare Hospitality Spending by Claim dataset done")
    collect_cnd.insert_many(cnd1)
    print("Insertion of Complications and Deaths dataset done")
    collect_hd.insert_many(hd1)
    print("Insertion of Health Deficiencies dataset done")
    collect_pvc.insert_many(pvc1)
    print("Insertion of Payment and value of care dataset done")
except:
    print("Failed to connect to MongoDB- {}".format(sys.exc_info()[1]))

Removing collections if already present
Dropped collection mhs
Dropped collection cnd
Dropped collection hd
Dropped collection pvc
Insertion of Medicare Hospitality Spending by Claim dataset done
Insertion of Complications and Deaths dataset done
Insertion of Health Deficiencies dataset done
Insertion of Payment and value of care dataset done

### Checking if the data is properly stored in MongoDB

In [50]:
print("Size of collection/ number of documents : ")
print(f" Medicare Hospitality Spending by Claim : {db['mhs'].count_documents({})}")
print(f" Complications and Deaths : {db['cnd'].count_documents({})}")
print(f" Health Deficiencies : {db['hd'].count_documents({})}")
print(f" Payment and value of care : {db['pvc'].count_documents({})}")
print("\nStructure of documents : ")
print(f" Medicare Hospitality Spending by Claim : {list(db['mhs'].find_one().keys())}\n")
print(f" Complications and Deaths : {list(db['cnd'].find_one().keys())}\n")
print(f" Health Deficiencies : {list(db['hd'].find_one().keys())}\n")
print(f" Payment and value of care : {list(db['pvc'].find_one().keys())}\n")

Size of collection/ number of documents :
 Medicare Hospitality Spending by Claim : 20000
 Complications and Deaths : 20000
 Health Deficiencies : 20000
 Payment and value of care : 18824

Structure of documents :
 Medicare Hospitality Spending by Claim : ['_id', 'provider_number', 'hospital_name', 'state', 'period', 'claim_type', 'avg_spending_per_episode_hospital', 'avg_spending_per_episode_state', 'avg_spending_per_episode_nation', 'percent_of_spending_hospital', 'percent_of_spending_state', 'percent_of_spending_nation', 'start_date', 'end_date']

 Complications and Deaths : ['_id', 'provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code', 'county_name', 'phone_number', 'measure_id', 'measure_name', 'compared_to_national', 'denominator', 'score', 'lower_estimate', 'higher_estimate', 'measure_start_date', 'measure_end_date']

 Health Deficiencies : ['_id', 'federal_provider_number', 'provider_name', 'provider_address', 'provider_city', 'provider_state', 'provider_zip_code', 'survey_date', 'survey_type', 'deficiency_prefix', 'deficiency_category', 'deficiency_description', 'deficiency_tag_number', 'scope_severity_code', 'deficiency_corrected', 'correction_date', 'inspection_cycle', 'standard_deficiency', 'complaint_deficiency', 'location', 'processing_date', ':@computed_region_f3tr_pr43', ':@computed_region_nwen_78xc', ':@computed_region_csmy_5jwy']

 Payment and value of care : ['_id', 'provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code', 'county_name', 'phone_number', 'measure_id', 'measure_name', 'category', 'denominator', 'payment', 'lower_estimate', 'higher_estimate', 'value_of_care_display_name', 'value_of_care_display_id', 'value_of_care_category', 'measure_start_date', 'measure_end_date', 'geocoded_column', ':@computed_region_f3tr_pr43', ':@computed_region_nwen_78xc', ':@computed_region_csmy_5jwy']

# PART : Fetching data stored in MongoDB and Storing Clean Data in PostgreSQL

### Importing Libraries

In [51]:
import pymongo
import pandas as pd
from pymongo import MongoClient
import psycopg2
from sqlalchemy import create_engine
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import KNNImputer

print("Imported all the required libraries")

Imported all the required libraries

### Creating connection to Mongodb Client on the Virtual Machine and selecting the created database

In [52]:
connection = pymongo.MongoClient('192.168.56.30', 27017)
database = connection['DAP_Project']

### Accessing all the collections previously created

In [53]:
collection1 = database['cnd']
collection2 = database['hd']
#Accessing the dataset from MongoDB as an object
collectionmhs = database['mhs']
collection4 = database['pvc']

#### Converting the datasets to dataframe

In [54]:
data1 = pd.DataFrame(list(collection1.find()))
data2 = pd.DataFrame(list(collection2.find()))
#Converting the data from MongoDB as a dataframe
datamhs = pd.DataFrame(list(collectionmhs.find()))
data4 = pd.DataFrame(list(collection4.find()))

#### Cleaning Data No.1

In [55]:
data1.describe()

,_id,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,measure_start_date,measure_end_date,footnote
count,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,20000,6401
unique,20000,1074,1062,1074,749,12,983,357,1072,19,19,8,3765,1542,1152,1895,3,2,5
top,5ff72c8bc521cb2a285ebcd1,050149,GOOD SAMARITAN HOSPITAL,361 RANDOLPH STREET,LOS ANGELES,CA,72205,LOS ANGELES,(707) 445-8121,MORT_30_STK,Death rate for stroke patients,No Different Than the National Rate,Not Available,Not Available,Not Available,Not Available,07/01/2017,06/30/2019,1
freq,1,19,57,19,368,6516,64,1515,38,1073,1073,12126,6190,6401,6401,6401,12494,18927,1927

In [56]:
#Deleting columns that are not required

data1 = data1.drop(columns =['_id', 'footnote','measure_start_date','measure_end_date'])
data1

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,250,2.3,1.4,3.7
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,586,11.9,9.9,14.2
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,281,4.7,3.0,7.5
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,374,8.4,6.3,11.1
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,858,11.3,9.5,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,PSI_6_IAT_PTX,Collapsed lung due to medical treatment,Not Available,Not Available,Not Available,Not Available,Not Available
19996,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,PSI_8_POST_HIP,Broken hip from a fall after surgery,Not Available,Not Available,Not Available,Not Available,Not Available
19997,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,PSI_90_SAFETY,Serious complications,Not Available,Not Applicable,Not Available,Not Available,Not Available
19998,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,PSI_9_POST_HEM,Perioperative Hemorrhage or Hematoma Rate,Not Available,Not Available,Not Available,Not Available,Not Available
19999,111331,MITCHELL COUNTY HOSPITAL,90 STEPHENS STREET,CAMILLA,GA,31730,MITCHELL,(229) 336-5284,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,Not Available,Not Available,Not Available,Not Available,Not Available

In [58]:
#Removing NA and NAN

data1 = data1[pd.to_numeric(data1['denominator'], errors='coerce').notnull()]
data1 = data1[pd.to_numeric(data1['score'], errors='coerce').notnull()]
data1 = data1[pd.to_numeric(data1['lower_estimate'], errors='coerce').notnull()]
data1 = data1[pd.to_numeric(data1['higher_estimate'], errors='coerce').notnull()]

In [59]:
data1.dtypes

provider_id             object
hospital_name           object
address                 object
city                    object
state                   object
zip_code                object
county_name             object
phone_number            object
measure_id              object
measure_name            object
compared_to_national    object
denominator             object
score                   object
lower_estimate          object
higher_estimate         object
dtype: object

In [60]:
#Converting to appropriate data-types

data1['zip_code'] = pd.to_numeric(data1['zip_code'])
data1['denominator'] = pd.to_numeric(data1['denominator'])
data1['score'] = pd.to_numeric(data1['score'])
data1['lower_estimate'] = pd.to_numeric(data1['lower_estimate'])
data1['higher_estimate'] = pd.to_numeric(data1['higher_estimate'])

In [61]:
data1.dtypes

provider_id              object
hospital_name            object
address                  object
city                     object
state                    object
zip_code                  int64
county_name              object
phone_number             object
measure_id               object
measure_name             object
compared_to_national     object
denominator               int64
score                   float64
lower_estimate          float64
higher_estimate         float64
dtype: object

In [62]:
data1

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate
0,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,250,2.3,1.4,3.7
1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,586,11.9,9.9,14.2
2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,281,4.7,3.0,7.5
3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,374,8.4,6.3,11.1
4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,858,11.3,9.5,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19961,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,158,2.2,1.2,3.8
19964,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,50,9.2,6.2,13.9
19965,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,47,11.7,8.1,16.8
19966,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,101,14.0,10.4,18.8
19985,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,27,15.1,10.1,21.7

In [63]:
#Adding ID column to set as a "Primary Key" for the dataset
import numpy as np
ID=np.arange(1,len(data1)+1)
data1.insert(0, "ID", ID, allow_duplicates = False)
data1.head()

,ID,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate
0,1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,250,2.3,1.4,3.7
1,2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,586,11.9,9.9,14.2
2,3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,281,4.7,3.0,7.5
3,4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,374,8.4,6.3,11.1
4,5,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,858,11.3,9.5,13.5

In [64]:
#Resetting the indexes of the dataset

data1 = data1.reset_index(drop=True)
#df_all.reset_index(drop=True, inplace=True)
data1

,ID,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate
0,1,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,250,2.3,1.4,3.7
1,2,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,586,11.9,9.9,14.2
2,3,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,281,4.7,3.0,7.5
3,4,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,374,8.4,6.3,11.1
4,5,010001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,858,11.3,9.5,13.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12764,12765,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,158,2.2,1.2,3.8
12765,12766,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,50,9.2,6.2,13.9
12766,12767,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,47,11.7,8.1,16.8
12767,12768,111329,ST. MARY'S GOOD SAMARITAN HOSPITAL,5401 LAKE OCONEE PARKWAY,GREENSBORO,GA,30642,GREENE,(706) 453-7331,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,101,14.0,10.4,18.8
12768,12769,111330,POLK MEDICAL CENTER,2360 ROCKMART HIGHWAY,CEDARTOWN,GA,30125,POLK,(770) 748-2500,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,27,15.1,10.1,21.7

In [ ]:
import psycopg2
#Creating connection to Postgre Server using the credentials and Host address of the virtual machine
conn = psycopg2.connect(
             user = "dap",
             password = "dap",
             host = "192.168.56.30",
             port = "5432",
             database = "postgres")

In [68]:
try:
    dbConnection = psycopg2.connect(
        user = "dap",
        password = "dap",
        host = "192.168.56.30",
        port = "5432",
        database = "postgres")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute("SELECT datname from pg_database")
    rows = dbCursor.fetchall()
    dbNames = []
    for i in rows:
        dbNames.append(i[0])
    print(f"Databases present currently on the server are :\n{dbNames}")

    if("dap_project" in dbNames):
        try:
            dbCursor.execute("DROP DATABASE Project;")
            print("project database dropped!")
        except:
            print("Error while dropping the database!")
   
    try:
        dbCursor.execute('CREATE DATABASE dap_project;')
        print("\nCreated a new db schema 'dap_project'")
    except:
        print("Error while creating project database!")
    dbCursor.close()
except (psycopg2.Error) as dbError :
    print("Error while connecting to PostgreSQL", dbError)
finally:
    if(dbConnection): dbConnection.close()

Databases present currently on the server are :
['postgres', 'template1', 'template0', 'dap_project', 'project']
Error while dropping the database!
Error while creating project database!

In [ ]:
#Creating Database named "Project"
try:
    conn.set_isolation_level(0)
    cur = conn.cursor()
    cur.execute('CREATE DATABASE project;')

except:
    print("database already exists")
    
finally:
    cur.close()
    if(conn):conn.close()

In [ ]:
import sqlalchemy

engine =sqlalchemy.create_engine('postgresql://dap:dap@192.168.56.30:5432/dap_project')
con = engine.connect()

In [ ]:
print(engine.table_names())

In [ ]:
table_name='data1'
data1.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
print(engine.table_names())

In [ ]:
#Setting ID as primary key
with engine.connect() as con:
    con.execute('ALTER TABLE data1 ADD PRIMARY KEY ("ID");')

In [ ]:
con.close()

#### Cleaning data2

In [ ]:
data2.dtypes

In [ ]:
data2.head()

In [ ]:
data2 = data2[pd.to_numeric(data2[':@computed_region_f3tr_pr43'], errors='coerce').notnull()]
data2 = data2[pd.to_numeric(data2[':@computed_region_nwen_78xc'], errors='coerce').notnull()]
data2 = data2[pd.to_numeric(data2[':@computed_region_csmy_5jwy'], errors='coerce').notnull()]

data2[':@computed_region_f3tr_pr43'] = pd.to_numeric(data2[':@computed_region_f3tr_pr43'])
data2[':@computed_region_nwen_78xc'] = pd.to_numeric(data2[':@computed_region_nwen_78xc'])
data2[':@computed_region_csmy_5jwy'] = pd.to_numeric(data2[':@computed_region_csmy_5jwy'])

In [ ]:
data2 = data2.drop(columns =['_id'])
data2 = data2.drop(columns =['location'])
data2

In [ ]:
import sqlalchemy

engine =sqlalchemy.create_engine('postgresql://dap:dap@192.168.56.30:5432/project')
con = engine.connect()

print(engine.table_names())

In [ ]:
#Writing data2 to Posgres
table_name='data2'
data2.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
con.close()

### Creating Table for Medical Hospital Spending by Claim Dataset

In [ ]:
Stringmhs = """
DROP TABLE IF EXISTS "{Medical Hospital Spending by Claim}" CASCADE ;
CREATE TABLE "{Medical Hospital Spending by Claim}"(
provider_id integer PRIMARY KEY,
hospital_name VARCHAR(100),
state VARCHAR(2),
period VARCHAR(150),
claim_type VARCHAR(100),
avg_spnd_per_episode_hospital float,
avg_spnd_per_episode_state float,
avg_spnd_per_episode_nation float,
percent_spnd_hospital float,
percent_spnd_state float,
percent_spnd_nation float,
start_date date,
end_date date
);
"""
print(f"Created table string for Medical Hospital Spending by Claim Dataset : \n{Stringmhs}")

### Checking the data obtained from MongoDB

In [ ]:
datamhs.head()

## Cleaning the Medical Hospital Spending by Claim dataset

In [ ]:
#Dropping the columns which are of no use.
datamhs = datamhs.drop(columns =['_id','start_date','end_date'])

In [ ]:
#Removing % from the columns to make them numeric
cols_to_check = ['percent_of_spending_hospital','percent_of_spending_state', 'percent_of_spending_nation']
datamhs[cols_to_check] = datamhs[cols_to_check].replace({'%':''}, regex=True)

In [ ]:
datamhs.head()

In [ ]:
#Converting columns to numeric
datamhs['avg_spending_per_episode_hospital'] = pd.to_numeric(datamhs['avg_spending_per_episode_hospital'])
datamhs['avg_spending_per_episode_state'] = pd.to_numeric(datamhs['avg_spending_per_episode_state'])
datamhs['avg_spending_per_episode_nation'] = pd.to_numeric(datamhs['avg_spending_per_episode_nation'])
datamhs['percent_of_spending_hospital'] = pd.to_numeric(datamhs['percent_of_spending_hospital'])
datamhs['percent_of_spending_state'] = pd.to_numeric(datamhs['percent_of_spending_hospital'])
datamhs['percent_of_spending_nation'] = pd.to_numeric(datamhs['avg_spending_per_episode_hospital'])

### Creating table into SQL with the help of SQL query

In [ ]:
try:
    dbConnection = psycopg2.connect(
    user = "dap",
    password = "dap",
    host = "192.168.56.30",
    port = "5432",
    database = "dap_project")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()

    dbCursor.execute(Stringmhs)
    print(f"Table Medical Hospital Spending by Claim created")
    dbCursor.close()
    print(f"\nSuccessfully created 1 table for MHS collectionmhs")
except (Exception , psycopg2.Error) as dbError :
    print ("Error while table creation in PostgreSQL : \n", dbError)
finally:
    if(dbConnection): dbConnection.close()

In [ ]:
import sqlalchemy

engine =create_engine('postgresql://dap:dap@192.168.56.30:5432/dap_project',echo=True)
#con = engine.connect()

print(engine.table_names())

In [ ]:
#Writing data3 to Posgres
datamhs.to_sql("Medical Hospital Spending by Claim", engine, if_exists = 'append', index = False, chunksize = 100)
print(f"Insertion completed in MHS table")

In [ ]:
print(engine.table_names())
#con.close()

In [ ]:
data3.dtypes

#### Cleaning data4

In [ ]:
data4.dtypes

In [ ]:
data4.head()

In [ ]:
data4 = data4.drop(columns =['_id','geocoded_column','value_of_care_footnote','payment_footnote'])

In [ ]:
data4.head()

In [ ]:
#Removing Null values
data4 = data4[pd.to_numeric(data4[':@computed_region_csmy_5jwy'], errors='coerce').notnull()]
data4 = data4[pd.to_numeric(data4[':@computed_region_nwen_78xc'], errors='coerce').notnull()]
data4 = data4[pd.to_numeric(data4[':@computed_region_f3tr_pr43'], errors='coerce').notnull()]
data4

In [ ]:
#Removing values "Not Available"
data4 = data4[data4.lower_estimate != "Not Available"]
data4 = data4[data4.higher_estimate != "Not Available"]
data4 = data4[data4.value_of_care_category != "Not Available"]

In [ ]:
data4

In [ ]:
import sqlalchemy

engine =sqlalchemy.create_engine('postgresql://dap:dap@192.168.56.30:5432/project')
con = engine.connect()

print(engine.table_names())

In [ ]:
#Writing data3 to Posgres
table_name='data4'
data4.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
#Printing all the tables stored under Project database
print(engine.table_names())
con.close()

# PART : Visualizations

## Medical Hospital Spending by Claim dataset

In [ ]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline 
print("Imported all the required libraries")

## Fetching structured data from SQL and storing as a dataframe

In [ ]:
query1 = """
SELECT * FROM "Medical Hospital Spending by Claim";"""
try:
    dbConnection = psycopg2.connect(
    user = "dap",
    password = "dap",
    host = "192.168.56.30",
    port = "5432",
    database = "dap_project")
    mhs = sqlio.read_sql_query(query1, dbConnection) 
except (Exception, psycopg2.Error) as dbError:
    print ("Error while fetching database MHS:", dbError)
finally:
    if(dbConnection): dbConnection.close()

## Analysis & Visualization of data

In [ ]:
#Checking the type of all the varibales
mhs.dtypes

In [ ]:
mhs.head()

In [ ]:
mhs['state'].unique()

In [ ]:
sns.barplot(x="state", y="avg_spending_per_episode_state", data=mhs)

In [ ]:
mhs["period"].unique()

In [ ]:
colors_list = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode_list = [0.5, 0, 0, 0] # ratio for each state with which to offset each wedge.

abc['avg_spending_per_episode_hospital'].plot(kind='pie',
                            figsize=(20, 8),
                            autopct='%1.1f%%', 
                            startangle=90,    
                            shadow=True,       
                            labels=None,         
                            pctdistance=1.12)

# scale the title up by 12% to match pctdistance
plt.title('Average Spending on Claims based on the period during which payment was made', y=1.5) 

plt.axis('equal') 

# add legend
plt.legend(labels=abc.index, loc='upper left') 

plt.show()

In [ ]:
mhs['period'].value_counts().plot(kind='bar', figsize=(10, 6),color="blue")
plt.xlabel('Time Period of claim settlement') 
plt.ylabel('Total number of claims') 
plt.title('Time Period during which claim was settled') 
plt.show()

In [ ]:
abc= mhs.groupby("period").sum()
abc